@import url('https://fonts.googleapis.com/css2?family=Alata&family=Montserrat:wght@100&family=Poppins:wght@900&family=Prompt&display=swap');

:root {
    font-size: 16px;
    --background: rgb(243, 190, 190);
    --base: rgb(226, 226, 212);
}

body {
    font-family: 'Alata', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Prompt', sans-serif;
    display: flex;
    flex-direction: column;
    padding-left: 30%;
    width: 100vw;
    background-color: var(--base);
    min-width: 460px;
}
/* font style */
h1 {
    font-size: 2rem;
} 

h2 {
    font-size: 1.5rem;
}

li, h4 {
    font-style: italic;
}

/* block */
#block {
    width: 30vw; height: 100vh;
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    background-color:var(--base);
}

#blockimg {
    width: 30vw;
    height: 100vh;
}

section {
    display: flex;
    width: 70vw;
    height: 100vh;
    justify-content: space-around;
    flex-direction: column;
}

/* Nav styling */
#nav {
    padding:50px 0 100px 10vw;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    padding-top: 10px;
}

/* nav li animation */
li {
    width: 150px;
    height: 50px;
    background-color: var(--background);
    margin: 10px;
    padding: 5px;
    text-align: center;
    border-style: dotted;
    border-color: turquoise;
}

li:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

/* each section & div styling */
#heading {
    background-color: var(--background);
    padding: 50px 20px;
    height: fit-content;
    line-height: center;
}

#description {
    padding: 50px 100px;
}

#scroll {
   height: 50px;
   text-align: left;
   padding-left: 50%;
   display: flex;
   flex-direction: row;
}

#scrollrotate {
    transform-origin: 0 0;
    transform: rotate(90deg);
}

div #paragraph {
   padding: 10px 20px;
   height: fit-content;
   display: flex;
   flex-direction: column;
}

#Aboutme{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 30px 30px;
    height: fit-content;
}

#article{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 5px;
}

article {
    height: fit-content;
    margin: 10px 10px;
    background-color: var(--background);
    padding: 15px;
}

#sectionwork {
    background-color:var(--background);
    padding: 30px;
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin-bottom: 10px;
}

#contact {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 70vw;
    height: fit-content;
    text-align: center;
}

#work, #project, #github {
    padding-left: 0;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    height: fit-content;
    text-align: left;
}

#imgwork, #imgproject, #imggithub{
    display: block;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 200px;
    box-shadow: 0 0 30px grey;
   }

#contactparagraph {
    text-align: center;
    padding: 25px;
}

#emaillink {
    width: 200px;
    height: 50px;
    margin: auto;
    padding: 15px 15px;
    margin-top: 20px;
    text-align: center;
    background-color: var(--background);
}

#messagebox {
    display: flex;
    flex-direction: column;
    width: 70vw;
    height: 100vh;
    margin-top: 20px;
    background-color: var(--background);
    text-align: left;
    padding-top: 30px;
}

#messagebox p{
    text-align: center;
}

.labels {
    display: flex;
    flex-direction: column;
    width: 500px;
    padding: 5px;
    margin: auto;
}

input {
    width: 500px;
    height: 40px;
}

textarea {
    width: 500px;
    height: 80px;
}

footer {
    background-color: var(--base);
    font-size: 13px;
    color: gray;
    text-align: right;
    padding-right: 15px;
}

/* media query */
@media screen and (min-width: 768px){
    #blocknav {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    input {
    width: 300px;
    height: 40px;
    margin: auto;
    }

    textarea {
    width: 300px;
    height: 80px;
    margin: auto;
    }

    #imgwork, #imgproject, #imggithub{
        display: block;
        margin-top: 15px;
        margin-left: auto;
        margin-right: auto;
        width: 250px;
        height: 100px;
        box-shadow: 0 0 30px grey;
        }

    body {
        padding: 0;
        width: 100vw;
    }

    section {
        width: 100vw;
    }

    #form, #messagebox {
        width: 100vw;
    }

    #block {
        width: 100vw; height: 50vh;
        
        position: relative;
        justify-content: space-around;
        
        background-color:var(--background);
        display: flex;
        flex-direction: row;
    }

    #blockimg {
        position: relative;
        width:250px;
        height: 330px;
        padding: 30px;
    }

    #nav {
        display: none;
    }

    #blocknav {
        display: flex;
    }
}

  

  
   
  


